/* split this stylesheet onto specific files for each component that uses a stylesheet */
body{
   background: #414A56
   ;
}

.todo-app{
   margin-top: 25%;
   margin-left: 25%;
   width: 50%;
   height: 500px;
   text-align: center;
   background: white;
   border-radius: 5%;
}

.h1{
   margin-top: 25px;
   text-align: left;
}

.items{
  list-style-type: none;
  text-align-last: left;
}

.todo-button{
   border-radius: 50%;
   color: white;
   background-color: rgb(1, 168, 252);
   font-size: 25px;
   opacity: 85%;
   margin-left: 10px;
   border-style: none;
   margin-top: 5px;
}
.todo-input{
   height: 25px;
}